@model IEnumerable<Group15_iCLOTHINGApp.Models.Department>

@{
    ViewBag.Title = "Departments";
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
}

@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="../../Stylesheets/DepartmentStyleSheet.css" />
</head>
<h2>@ViewBag.Title</h2>
<div class="department-container">
    <table class="table" cellspacing="5">
        <tr>
            <th>
                Department
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentDescription)
                </td>
                <td>
                    @Html.ActionLink("View", "Filter", "Product", new { departmentID = item.departmentID }, new { @class = "nav-link" })
                </td>
            </tr>
        }

    </table>
</div>