
@{
    ViewBag.Title = "Admin Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="row" aria-labelledby="homeTitle">
        <h1 id="title">Welcome!</h1>
    </section>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li>@Html.ActionLink("Home", "Admin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Maintain Catalog", "Maintain", "Catelog", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Manage Orders", "Index", "OrderStatus", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>
    </div>
</main>
