@{
    ViewBag.Title = "Contact";
}
@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr /><br />
    <h4>@ViewBag.Message</h4>

    <address>
        University Of Missouri
        230 Jesse Hall<br />
        Columbia, MO 65201<br />
    </address>

    <address>
        <strong>Christian:</strong><a href="mailto:cawbfq@missouri.edu">cawbfq@umsystem.edu</a><br />
        <strong>Alex:</strong> <a href="mailto:ajkz4h@missouri.edu">ajkz4h@missouri.edu</a><br />
        <strong>Parker:</strong> <a href="mailto:pady3w@missouri.edu">pady3w@missouri.edu</a>
    </address>
</main>