@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else if (Session["AdminID"] != null)
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="../../Stylesheets/StyleSheet1.css">
</head>


<body>


    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Images/brands.png" alt="..." />
            <h3><a href="~/Brand/Index">Brands</a></h3>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Images/categories.jpg" alt="..." />
            <h3><a href="~/Category/Index">Categories</a></h3>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Images/departments.jpg" alt="..." />
            <h3><a href="~/Department/Index">Departments</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Images/about.jpg" alt="..." />
            <h3><a href="~/Home/About">About</a></h3>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Images/contact.png" alt="..." />          
            <h3><a href="~/Home/Contact">Contact Us</a></h3>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Images/feedback.png" alt="..." />        
            <h3><a href="~/UserComments/Index">Feedback</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
             <img src="~/Content/Images/search.png" alt="..." />
             <h3><a href="~/UserQuery/Index">Search</a></h3>
        </div>
        <div class="col-sm-4">
             <img src="~/Content/Images/shoppingcart.png" alt="..." />
             <h3><a href="~/ShoppingCart/Index">Cart</a></h3>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Images/login.png" alt="..." />
            <h3><a href="~/UserLogin/UserLogin">Log In/Register</a></h3>
        </div>
    </div>
        
</body>

