@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<main>
    <section class="row" aria-labelledby="homeTitle">
        <h1 id="title">Welcome!</h1>
    </section>
</main>