@model Group15_iCLOTHINGApp.Models.OrderStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Shipping address</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderStatus1)
        </dd>

        <dt>
           <p>Gender</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
