@model IEnumerable<Group15_iCLOTHINGApp.Models.Administrator>

@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Welcome @Session["UserID"]!</h2>
<br />
<h4>Manage site catalog and user orders using the links above.</h4>

