@model IEnumerable<Group15_iCLOTHINGApp.Models.UserPassword>
@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Stylesheets/TableView.css">
<h2>ManageUsers</h2>

