@model IEnumerable<Group15_iCLOTHINGApp.Models.ShoppingCart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
}

<h2>@ViewBag.Title</h2>
<a href="@ViewBag.ReturnURL">Back</a>
<table class="table" cellspacing="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cartProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cartProductQty)
            </td>
        </tr>
    }

</table>
