@model Group15_iCLOTHINGApp.Models.ItemDelivery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemDelivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stickerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stickerDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stickerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
